/*****GENERELLE INDSTLLINGER*****/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

img {
    width: 100%;
}

body {
    background-color: #FAF7F7;
}

h1 {
    font-family: 'Gibson', cursive;
    color: #233245;
    font-size: 2rem;
    margin-top: 4vw;
    margin-left: 10vw;
}

h2 {
    font-family: 'Gibson', cursive;
    color: #233245;
    font-size: 1.3rem;
    margin-top: 4vw;
    margin-left: 10vw;
}

h3 {
    font-family: 'Gibson', cursive;
    color: #233245;
    font-size: 0.9rem;
    margin-top: 4vw;
    margin-left: 10vw;
}

h4 {
    font-family: 'Gibson', cursive;
    color: #ffffff;
    font-size: 2rem;
    margin: 0 0 0 18px;
}

p {
    font-family: 'Gibson', cursive;
    color: #233245;
    font-size: 0.7rem;
    margin-top: 2vw;
    margin-left: 10vw;

}

/********BURGERMENU********/

.hidden {
    transform: translateX(-100%);
    display: none;
}

#menuknap {
    display: inline-block;
    font-size: 2rem;
    color: white;
    padding-top: 1vw;
    padding-left: 35vw;

}

#menu {
    list-style-type: none;
    transition: transform .3s;
    padding-right: 15vw;
    z-index: 100;
    align-items: center;
}

li {
    font-family: 'Gibson';
    color: white;
    font-size: 2rem;
    margin: 10vw;

}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        display: contents;
    }

    #menu li {
        display: inline-block;
    }
}

/*****HEADER BAR****/

header {
    background-color: #EA5045;
    flex-direction: row;

}

nav {
    display: flex;
}

#logo {
    width: 50%;
    margin: 5px 0 0 5px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 5px 5px 0;
}


/********LOGIN FORM********/

.top_container {
    display: flex;
    flex-direction: column;
    margin: 10vw;
    padding: 5vw;
    /*    font*/
    color: #233245;
    font-family: 'Gibson', cursive;
    letter-spacing: inherit;
}

.bot_container {
    display: flex;
    flex-direction: column;
    margin: 10vw;
    padding: 5vw;
}

.loginbtn {
    width: 150px;
    height: 58px;
    font-size: 1rem;
    color: white;
    margin-top: 30px;
    margin-left: 60px;
    padding: 15px;
    background-color: #233245;
    border-radius: 10px;
}

label {
    padding-top: 5vw;
}

.psw {
    font-family: 'Gibson', cursive;
    letter-spacing: inherit;
    color: #ea5045;

}

/*LANDING PAGE*/

#landingpage {
    display: flex;
    flex-direction: column;
    padding: 7px 9.5px 7px 9.5px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 5px 0 5px 0;

}

/*KNAPPER - GENERELLE OG SPECIFIKKE*/

.button {
    width: 110px;
    height: 110px;
    margin: 0 4px;

}

#techlounge {
    width: 228px;
    height: 111px;
}

#col_left {
    display: flex;
    flex-direction: column;
}

#soeg {
    margin: 0 0 4px 0;
}

#afleveringer {
    margin: 4px 0 0 0;
}



#col_right {
    display: flex;
}

#aktuelt {
    width: 229px;
    height: 229px;
}


/********AFLEVERINGER********/

afl.container {
    display: flex;
    flex-direction: column;
}

#naeste {
    margin: 10px;
    background-color: white;
    height: 140px;
    padding-top: 1px;
}

.atta {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 320px;
}

#upload_aflevering {
    margin: 10px;
    background-color: white;
    height: 90px;
    padding-top: 1px;

}

.dropdown {
    margin: 10px;
    background-color: white;
    height: 90px;
    padding-top: 1px;


}
